<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>test</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/basic.css" />
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
</head>
<body>

	<table class="gridtable">
		<tr>
			<th>id</th>
			<th>标题</th>
			<th>作者</th>
			<th>内容</th>
			<th>操作</th>
		</tr>
		<tr th:each="data:${list}">
			<td th:text="${data.id}"></td>
			<td th:text="${data.title}"></td>
			<td th:text="${data.author}"></td>
			<td th:text="${data.content}"></td>
			<td><a th:href="'/encyclopedia/detail/'+${data.id}">编辑</a></td>
		</tr>
	</table>
</body>
</html>