<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>test</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/basic.css" />
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
</head>
<body>
	<table class="gridtable">
		<form action="/encyclopedia/save" th:action="@{/encyclopedia/save}" method="post">
			<input th:value="${data.id}" name="id" style="display: none" />
			<tr>
				<td>id</td>
				<td th:text="${data.id}"></td>
			</tr>
			<tr>
				<td>标题</td>
				<th><input th:value="${data.title}" name="title" maxlength="50" /></th>
			</tr>
			<tr>
				<td>作者</td>
				<th><input th:value="${data.author}" name="author" maxlength="50" /></th>
			</tr>
			<tr>
				<td>内容</td>
				<th><input th:value="${data.content}" name="content" /></th>
			</tr>
			<tr>
				<td></td>
				<th><input type="submit" value="提交" /></th>
			</tr>
		</form>
	</table>
</body>
</html>