<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>test</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/basic.css" />
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
</head>
<body>
	<table class="gridtable">
		<form action="/upload" th:action="@{/upload}" method="post" enctype="multipart/form-data" >
			<input th:value="${data.id}" name ="id" style="display: none"/>
			<tr>
				<td>id</td>
				<td th:text="${data.id}"></td>
			</tr>
			<tr>
				<td>图片</td>
				<td><img th:src="${imgUrl} + ${data.url}" width="100" height="100"/></td>
			</tr>
			<tr>
				<td>上传图片</td>
				<td><input type="file" name="file"/></td>
			</tr>
			<tr>
				<td>排序</td>
				<th><input th:value="${data.sort}" name ="sort"/></th>
			</tr>
			<tr>
				<td></td>
				<th><input type="submit" value="提交"/></th>
			</tr>
		</form>
	</table>
</body>
</html>